@model IEnumerable<Theme_Implemenet.Models.Modulepagespermissions>

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.urbanui.com/melody/template/pages/tables/data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:40 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Melody Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Adminsite/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Adminsite/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Adminsite/images/favicon.png" />
</head>

<body>
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="width:100%">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                        @if (TempData["note"] != null)
                        {
                            <div class="alert alert-success">
                                <h5 class="ml-3">@TempData["note"]</h5>
                            </div>

                        }

                        @if (TempData["edit"] != null)
                        {
                            <div class="alert alert-success">
                                <h5 class="ml-3">@TempData["edit"]</h5>
                            </div>

                        }
                        <p>
                            <a asp-action="create" class="btn btn-primary">Create New</a>
                        </p>
                    </h3>
                    @*<nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page" style="font-size: 15px;">User List</li>
                    </ol>
                    </nav>*@
                </div>
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                        <table id="sortable-table-1" class="table">
                                            <thead>
                                                <tr>
                                                    <th class="sortStyle">modulepagespermissionId</th>
                                                    <th class="sortStyle">RoleId</th>
                                                    <th class="sortStyle">PageId</th>
                                                    <th class="sortStyle">ModuleId</th>
                                                    <th class="sortStyle">Status</th>
                                                    <th class="sortStyle">CreateDate</th>
                                                    <th class="sortStyle">LastModifield</th>
                                                    <th class="sortStyle">Edit</th>
                                                    <th class="sortStyle">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.modulepagespermissionId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApplicationRole.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Pages.PagesName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Module.ModuleName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Status.StatusName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Lastmodifield)
                                                        </td>
                                                        <td>
                                                            <a asp-action="Edit" asp-route-id="@item.modulepagespermissionId" class="btn btn-primary">Edit</a>
                                                        </td>
                                                        <td>
                                                            <form asp-action="Delete" asp-route-id="@item.modulepagespermissionId" method="post">
                                                                <input type="submit" class="btn btn-primary" value="Delete" onclick="return confirm('are you show you want to delete data')" />
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- main-panel ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- End custom js for this page-->
</body>


<!-- Mirrored from www.urbanui.com/melody/template/pages/tables/data-table.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:41 GMT -->
</html>
