@model Theme_Implemenet.Models.Product
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Melody Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Adminsite/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Adminsite/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Adminsite/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Adminsite/images/favicon.png" />
</head>
<style>
    .btn-primary:hover {
        background-color: blueviolet;
    }
</style>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_settings-panel.html -->
            <!-- partial -->
            <div class="main-panel" style="width:400%">
                <div class="content-wrapper container-fluid">
                    <div class="page-header">
                        <h3 class="page-title">
                          Update Product 
                        </h3>
                        <nav aria-label="breadcrumb">
                  
                             <div class="row">
                                    <form asp-action="Index" asp-controller="ProductVeriation" method="get">
                                    <input type="hidden" name="productId" asp-for="productId" />
                                    <button type="submit" class="btn btn-sm btn-primary rounded-0">Veriation</button>
                                    </form>                            
                                    <form asp-action="Edit" asp-controller="ProductImage" method="get">
                                    <input type="hidden" name="productId1" asp-for="productId"/>
                                    <button type="submit" class="btn btn-sm btn-primary rounded-0 ml-3">Product Images</button>
                                    </form>
                                    <form asp-action="Edit" asp-controller="ProductVeriation" method="get">
                                    <input type="hidden" name="productId" asp-for="productId"/>
                                    <button type="submit" class="btn btn-sm btn-primary rounded-0 ml-3">Product veriation</button>
                                    </form>
                        </div>
                        </nav>
                    </div>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="card" style="width:400%">
                                <input type="hidden" name="productId" value="@Model.productId" />
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:30px;">
                                                <label style="font-size: 16px;">Category</label>
                                                <select asp-for="categoryId" class="form-control" style="height: 60px;" style="font-size: 16px;">
                                                    <option>SelectCategory----</option>
                                                    @if (ViewBag.cat != null)
                                                    {
                                                        foreach (var item in ViewBag.cat)
                                                        {
                                                            <option value="@item.categoryId">@item.categoryName</option>
                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="categoryId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:30px;">
                                                <label style="font-size: 16px;">SubCategory</label>
                                                <select asp-for="subcategoryId" class="form-control" style="height: 60px;" style="font-size: 16px;">
                                                    <option>Select----</option>

                                                    @if (ViewBag.sub != null)
                                                    {
                                                        foreach (var item in ViewBag.sub)
                                                        {
                                                            <option value="@item.subcategoryId">@item.subcategoryName</option>

                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="subcategoryId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group " style="margin-top:10px;">
                                                <label style="font-size: 16px;">Style</label>
                                                <select asp-for="categorystyleid" class="form-control" style="height: 60px;" style="font-size: 16px;">
                                                    <option>Select---</option>
                                                    @if (ViewBag.style != null)
                                                    {
                                                        foreach (var item in ViewBag.style)
                                                        {
                                                            <option value="@item.categorystyleid">@item.categorystyleName</option>

                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="categorystyleid" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Material</label>
                                                <select asp-for="productmaterialId" class="form-control" style="height: 60px;" style="font-size: 16px;">
                                                    <option>Select----</option>

                                                    @if (ViewBag.material != null)
                                                    {
                                                        foreach (var item in ViewBag.material)
                                                        {
                                                            <option value="@item.productmaterialId">@item.productmaterialname</option>

                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="productmaterialId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Season</label>
                                                <select asp-for="productseasonId" class="form-control" style="height: 60px;" style="font-size: 16px;">
                                                    <option>Select----</option>

                                                    @if (ViewBag.season != null)
                                                    {
                                                        foreach (var item in ViewBag.season)
                                                        {
                                                            <option value="@item.productseasonId">@item.productseasonName</option>

                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="productseasonId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Gender</label>
                                                <select asp-for="productgenderId" class="form-control" style="height: 60px;" style="font-size: 16px;">
                                                    <option>Select----</option>

                                                    @if (ViewBag.gender != null)
                                                    {
                                                        foreach (var item in ViewBag.gender)
                                                        {
                                                            <option value="@item.productgenderId">@item.productgenderName</option>

                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="productgenderId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style=" style=" font-size: 16px;">ProductName</label>
                                                <input asp-for="productName" class="form-control" style="height: 60px;" style="font-size: 16px;" />
                                                <span asp-validation-for="productName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">ColorCode</label>
                                                <input asp-for="productcod" class="form-control" style="height: 60px;" style="font-size: 16px;" />
                                                <span asp-validation-for="productcod" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group " style="margin-top:10px;">
                                                <label style="font-size: 16px;">ColorSize</label>
                                                <input asp-for="sizeguideimage" class="form-control" style="height: 60px;" style="font-size: 16px;" />
                                                <span asp-validation-for="sizeguideimage" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Title</label>
                                                <input asp-for="title" class="form-control" style="height: 60px;" style="font-size: 16px;" />
                                                <span asp-validation-for="title" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Description</label>
                                                <input asp-for="description" class="form-control" style="height: 60px;" style="font-size: 16px;" />
                                                <span asp-validation-for="description" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Keyword</label>
                                                <input asp-for="Keyword" class="form-control" style="height: 60px;" style="font-size: 16px;" />
                                                <span asp-validation-for="Keyword" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Price</label>
                                                <input asp-for="price" class="form-control" style="height: 60px;" style="font-size: 16px;" />
                                                <span asp-validation-for="price" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-12 col-lg-6">

                                            <div class="form-group" style="margin-top:10px;">
                                                <label style="font-size: 16px;">Status</label>
                                                <select asp-for="StatusId" class="form-control" style="height: 60px;font-size: 16px;">
                                                    @if (ViewBag.status != null)
                                                    {
                                                        foreach (var item in ViewBag.status)
                                                        {
                                                            <option value="@item.StatusId">@item.StatusName</option>

                                                        }
                                                    }
                                                </select>
                                                <span asp-validation-for="StatusId" class="text-danger"></span>

                                            </div>
                                        </div>
                                      
                                    </div>
                                        <div class="row">

                                        <div class="col-6 col-sm-12 col-lg-6">
                                            <div class="card mt-2 w-100" style="margin-left: auto; margin-right: 0;">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label style="font-size: 16px;">Image</label>
                                                        <hr />
                                                        <br />
                                                        <input type="file" name="file" class="form-control mt-1" style="height: 60px; font-size: 16px;" onchange="displaySelectedImage(this)">
                                                        <img id="selectedImage" src="~/@Model.productimage" width="200px" height="200px" class="ml-5 mt-4" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    

                                    <div class="d-flex justify-content-lg-end justify-content-sm-start">
                                        <button type="submit" class="btn btn-primary mr-2 mt-5 p-3 float-sm-left btn btn-primary m-b-0">Submit</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    function displaySelectedImage(input) {
        var selectedImage = document.getElementById('selectedImage');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


@*<script>
    // Submit button par click hone par form submit event handle karna
    $('form').submit(function (e) {
        // Default form submission ko rokna
        e.preventDefault();

        // Submit se pehle alert show karna
        swal('Good job!', 'Product Update Successfully!', 'success');

        // Form ko submit karna
        var form = this;
        var formData = new FormData(form);
        $.ajax({
            type: form.method,
            url: form.action,
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // Success ke baad page ko navigate karna
                window.location.href = '@Url.Action("Index","Product")';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Error handling
                //swal('Good job!', 'Product Update Successfully!', 'error');

            }
        });
    });
</script>*@